{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Créer lien{% endblock %}

{% block body %}

{% include "admin/adminNav.html.twig" %}


<h1>Espace Admin</h1>
<h2>Gestion des lien</h2>

{% if liens|length == 0 %}
    <p>Aucun lien</p>
{% else %}
    <section class="draggable">
        {% for lien in liens %}
            <article data-id="{{ lien.id }}" >
                <p>{{lien.titre}}<a href="{{ path('admin_lien_edit', {'id':lien.id})}}"><i class="fas fa-pen-square"></i></a></p>
                <p>{{ lien.lien }}</p>
            </article>
        {% endfor %}
    </section>    
{% endif %}

<a href="{{ path('admin_lien_add') }}">Ajouter un lien</a>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
  jQuery('.draggable').sortable({
    stop:function(event, ui){
      let id = ui.item.attr('data-id')
      console.log("id:"+id)
      let position = ui.item.index()
      console.log("pos:"+position)
      $.post(
        "{{ path('admin_lien_sort') }}",
        {
          'lien_id': id,
          'position': position
        },
        function(data){
          console.log(data)
        }
      )

    }
    



  })
</script>

{% endblock %}