{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Créer exposition{% endblock %}

{% block body %}

{% include "admin/adminNav.html.twig" %}

<h2  class="text-center">Gestion des expositions</h2>
<div class="container">
  {% if expos|length == 0 %}
      <p>Aucune exposition</p>
  {% else %}
      <section class="draggable">
          {% for expo in expos %}
              <article class="m-3" data-id="{{ expo.id }}" >
                <div class="rounded border p-2">
                  <p>{{expo.titre}} - {{expo.dateCreation|date('d/m/Y') }} <a href="{{ path('admin_expo_edit', {'id':expo.id})}}"><i class="fas fa-pen-square"></i></a></p>
                  <p>{{ expo.contenu }}</p>
                </div>
              </article>
          {% endfor %}
      </section>    
  {% endif %}
  <div class="text-center">
    <a href="{{ path('admin_expo_add') }}" class="btn btn-success">Ajouter une actualité</a>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
  jQuery('.draggable').sortable({
    stop:function(event, ui){
      let id = ui.item.attr('data-id')
      console.log("id:"+id)
      let position = ui.item.index()
      console.log("pos:"+position)
      $.post(
        "{{ path('admin_expo_sort') }}",
        {
          'expo_id': id,
          'position': position
        },
        function(data){
          console.log(data)
        }
      )
    }
  })
</script>

{% endblock %}