<div class="mt-5 mb-5">
    <h1 class="text-center  mb-3">Espace Admin</h1>
    
    <nav class="text-center">
        <a class="m-5" href="{{ path('admin_general') }}">Informations générales</a>
        <a class="m-5" href="{{ path('admin_actu') }}">Actualités</a>
        <a class="m-5" href="{{ path('admin_expos') }}">Expos</a>
        <a class="m-5" href="{{ path('admin_lien' )}}">Liens</a>
        <a class="m-5" href="{{ path('admin_categories') }}">Catégories & Photos</a>
    </nav>
</div>
