<a href="{{ path('admin_general') }}">Informations générales</a>
<a href="{{ path('admin_actu') }}">Actualités</a>
<a href="{{ path('admin_expos') }}">Expos</a>
<a href="{{ path('admin_lien' )}}">Liens</a>
<a href="{{ path('admin_categories') }}">Catégories & Photos</a>