{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin - Photos{% endblock %}

{% block body %}

{% include "admin/adminNav.html.twig" %}



    <h1>{{ cat.titre }}</h1>


    {% if cat.photos | length == 0 %}
        <h2>Pas de photo dans cette catégorie</h2>        
    {% else %}
        {% for photo in cat.photos %}
                <figure>
                    <img style="width: 100px;" src="{{ asset('img/' ~ photo.path ) }}" alt=""> 
                    <figcaption>{{ photo.titre }} <a href="{{ path('admin_edit_photo', {'id_cat':cat.id, 'id_photo':photo.id})}}"><i class="fas fa-pen-square"></i></a></figcaption>
                </figure>

                <details>
                    <summary>Exifs</summary>
                    <table>
                        <tbody>
                            {% for key, value in photo.exifs %}
                            <tr>
                                <td>{{ key }}</td><td>{{ value }}</td>
                            </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </details>

        {% endfor %}
    {% endif %}

    <p><a href="{{ path('admin_add_photo', {'id':cat.id}) }}">Ajouter une photo</a></p>


{% endblock %}
