<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Photos de Joël{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/64cfa211f1.js" crossorigin="anonymous"></script>

    </head>
    <body>

        <header>
            <div>
                <img src="" alt="Logo">
            <h1>{{ general.titreDuSiteHeader }}</h1>
            <h2>{{ general.texteHeader }}</h2>

            </div>
            <nav>
                <a href="">Photos</a>
                <a href="">Expos</a>
                <a href="">Actualités</a>
                <a href="">Liens</a>
                <a href="">Contact</a>
            </nav>
        </header>

        {# Flash messages #}
        {% for message in app.flashes('success') %}
        <div class="success">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
        <div class="error">
            {{ message }}
        </div>
        {% endfor %}
        
        {% block body %}{% endblock %}

        <footer>
            <h2>{{ general.textFooter }}</h2>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
