<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Photos de Joël{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/64cfa211f1.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />

        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">

    </head>
    <body>

        <div class="main-wrap">
            <header>
                <div>
                    <a href="{{ path('home') }}"><h1 class="center">{{ general.titreDuSiteHeader }}</h1></a>
                    {{ general.texteHeader|raw }}
                </div>
                <nav>
                    <a href="{{ path('cats') }}">Mes Photos</a>
                    <a href="">Expos</a>
                    <a href="">Actualités</a>
                    <a href="">Liens</a>
                    <a href="">Contact</a>
                </nav>
            </header>

            {# Flash messages #}
            {% for message in app.flashes('success') %}
            <div class="success">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
            <div class="error">
                {{ message }}
            </div>
            {% endfor %}
            
            {% block body %}{% endblock %}

            <footer class="center">
                <h2>{{ general.textFooter }}</h2>
                <a href="{{ path('admin')}}">Connexion</a>
            </footer>

            {% block javascripts %}
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>

            {% endblock %}
        </div>
    </body>
</html>