{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin - Catégories{% endblock %}

{% block body %}

{% include "admin/adminNav.html.twig" %}

<h2  class="text-center">Gestions des catégories</h2>

{% if cats == null %}
    <h3>Pas de catégories</h3>
{% else %}  
    <section class="draggable d-flex justify-content-around">
    {% if 'admin/cat' in app.request.uri %}
        {% for cat in cats %}
            <article class="m-3" data-id="{{ cat.id }}" >
              <div class="rounded border p-2">
                <a href="{{ path('admin_cat_photos', {'id':cat.id}) }}">
                    <h3>{{ cat.titre }} ({{ cat.photos|length }})
                    <a href="{{ path('admin_edit_cat', {'id':cat.id})}}"><i class="fas fa-pen-square"></i></a></h3></a>
                <a href="{{ path('admin_cat_photos', {'id':cat.id}) }}">
                    {% if cat.photoCoverPath ==  null %}
                        <img style="width: 100px" src="{{ asset('img/default/Default.png' ) }}" alt="{{ cat.titre }}">
                    {% else %}
                        <img style="width: 100px" src="{{ asset('img/' ~ cat.photoCoverPath ) }}" alt="{{ cat.titre }}">
                    {% endif %}
                </a>
              </div>
            </article>
        {% endfor %}
    {% endif %}
    </section>
{% endif %}
  <div class="text-center">
    <a href="{{ path('admin_add_cat')}}" class="btn btn-success">Ajouter une catégorie</a>
  </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
  jQuery('.draggable').sortable({
    stop:function(event, ui){
      let id = ui.item.attr('data-id')
      console.log("id:"+id)
      let position = ui.item.index()
      console.log("pos:"+position)
      $.post(
        "{{ path('admin_cat_sort') }}",
        {
          'cat_id': id,
          'position': position
        },
        function(data){
          console.log(data)
        }
      )
    }
  })
</script>

{% endblock %}